CF/TECHNICAL_SUMMARY.md
CF/super_friday/__pycache__/scraper.cpython-311.pyc
CF/new_arrivals/__pycache__/scraper.cpython-311.pyc
CF/electronic_festival/__pycache__/scraper.cpython-311.pyc
CF/buy_now_pay_later/__pycache__/scraper.cpython-311.pyc
CF/buy_now_pay_later/__pycache__/scraper.cpython-311.pyc
